body {
    background-image: url('../Imagens/TelaInicialFundo.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

.footer {
	position:absolute;
	bottom:0;
	width:100%;
  background: #343a40;
}

.container {
  color: white;
  text-align: center;
}

.cardTreino {
  background-color: rgb(186, 239, 250);
  width: 20rem;
  position: relative;
  margin-left: 15%;
  margin-top: 10%;
}

.cardAnuncio1 {
  background-color: rgb(255, 200, 229);
  width: 20rem;
  position: relative;
  margin-left: 55%;
  margin-top: -25%;
}
.cardAnuncio2 {
  background-color: rgb(255, 200, 229);
  width: 20rem;
  position: relative;
  margin-left: 75%;
  margin-top: 5%;
}

.tituloCardTreino {
  color: rgb(214, 122, 46);
  font-weight: bold;
}
