<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
  <body>
        <form action="/salvarAvaliacao" method="post">
              <h5> Avaliação</h5>
            </div>
            <div class="modal-body">
              <label>Escreva um comentário!</label>
              <input name="treino" value="<%= treinoId.id %>"><%= treinoId.id %></input>
              
              <br>
              <textarea name="descricao" rows="2" cols="50" placeholder="Escreva seu comentário aqui!"></textarea>
              <br>
              <br>
              <label>De uma nota!</label>
              <br>
              <!-- O segundo valor estará selecionado inicialmente -->
              <select name="select">
                <option value="0">Nota 0</option>
                <option value="1">Nota 1</option>
                <option value="2">Nota 2</option>
                <option value="3">Nota 3</option>
                <option value="4">Nota 4</option>
                <option value="5">Nota 5</option>
                <option value="6">Nota 6</option>
                <option value="7">Nota 7</option>
                <option value="8">Nota 8</option>
                <option value="9">Nota 9</option>
                <option value="10">Nota 10</option>
              </select>
            </div>
            <div style="display: inline-flex;">
                <div>
                  <button class="btn btn-outline-success" type="submit">Salvar</button>
                </div>
                <div style="width: 5px;"></div>
                <div>
                  <a href="/telaTreinos" class="btn btn-outline-danger">Cancelar</a>
                </div>
              </div>
            </form>
</body>
</html>